{% extends 'base.html' %} {% block titulo %} HomeFilmes Hashflix {% endblock %}
{% block content %}
<!-- Variavel object criada na class DetalhesFilme -->
<h1>Detalhes do filme: {{ object.titulo }}</h1>
<p>{{ object }}</p>
<p>{{ object.descricao }}</p>
<img src="{{ object.thumb.url }}" />

<h2>Episodios</h2>
<!-- for que percorre a lista de filmes -->
{% for ep in object.episodios.all %}
<!-- link do video -->
<a href="{{ ep.video }}">
  <!-- forloop é do proprio django que tras uma contagem dos itens no loop (similar ao enummerate) -->
  <p>Episódio {{ forloop.counter }}: {{ ep.titulo }}</p>
</a>
{% endfor %}
<div class="py=10">
  <h2>Filmes relacionados</h2>
  {% for filme in filmes_relacionados %}
  <p>
    <a href="{% url 'filme:datalhesFilme'  filme.id  %}">
      {{ filme.titulo }}
    </a>

  </p>
  {% endfor %}
</div>
{% endblock %}